
@import "./variables";


@mixin display-pad-dec{
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;  
}

.btn{
    display: block;
    background-color: $color-1;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: outset 0.15rem black;
    margin: 1rem 0rem 1rem 6.5rem;
    padding: 1rem;
    text-align: center;
    max-width: 15rem;
    &:hover{
    color: $color-3;
    }
    }
    
.btn1{
    @include display-pad-dec;
    background-color: $color-2;
    margin: 1rem 3rem 2rem 3rem;
    color: black;
    &:hover{
    background-color: $color-1;
    border: black solid 0.1rem;
    }
    }   
    
.btn2{
    @include display-pad-dec;
    background-color: $color-1;
    color: black;
    font-weight: bold;
    border: solid 0.1rem black;
    margin: 0.5rem 1rem 0.5rem 1rem;
    &:hover{
        padding: 1rem;
    }
    }

    
    
   