
@import "./variables";

.financiacion{
    display: flex;
    flex-direction: column;
    background-color: $color-4;
}

.fina{
    justify-content: center;
    text-align: center;
    &__titulo{
    padding: 1.5rem;
    font-size: $font1;
    color: $color-4;
    background-image: url("../img/destinos3.jpg");
    }
    &__sub{
    font-weight: lighter;
    padding: 1.5rem;
    font-size: $font1;
    margin-top: 1rem;
    }
}

.opcion1{
    padding: 1rem;
    margin: 1rem 4rem;
    font-size: $font3;
    &__titulo{
    margin: 1rem 0rem;
    }
}

.opcion2__img{
    max-width: 350px;
    margin-top: 1rem;
}


.opcion3{
    &__p{
        margin-top: 1rem;
    }
    &__img{
        display: block;
        max-width: 8rem;
        margin-bottom: 1rem;
        border-radius: 4%;
    }
}

