.financiacion{
    display: flex;
    flex-direction: column;
    background-color: #eceecb;
}

.fina{
    justify-content: center;
    text-align: center;
    &__titulo{
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #eceecb;
    background-image: url("../img/destinos3.jpg");
    }
    &__sub{
    font-weight: lighter;
    padding: 1.5rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    }
}

.opcion1{
    padding: 1rem;
    margin: 1rem 4rem;
    font-size: 1rem;
    &__titulo{
    margin: 1rem 0rem;
    }
}

.opcion2__img{
    max-width: 500px;
    padding: 1rem;
    margin-left: 29rem;
}


.opcion3{
    &__p{
        margin-top: 1rem;
    }
    &__img{
        height: 4rem;
        width: 8rem;
        margin-top:2rem;
        margin-right: 0.5rem;
        border-radius: 5%;
    }
}

