@import "./variables";


.body{
    overflow-x: hidden;
}

.hero{
    height: 85vh;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/header.jpg");
    color: $color-1;
    &__wrapper{
    position: absolute;
    }
    &__heading{
    font-size: 3rem;
    }
    &__slogan{
    display:inline-block;
    font-size: $font1;
    margin: 1rem 0rem 1rem 0rem;
    }
    &__redes{
    width: 3rem;
    height: 3rem;
    }
}