
@import "./variables";

@mixin flex-d{
    flex-direction: column;
    display: flex;
}

@media screen and (max-width:320px) {
    
    .header{
        flex-direction: column;
        height: 400px;
        align-items: stretch;
        &__list{
        @include flex-d;
        }
        &__item{
        margin:0px;
        text-align: center;
        padding: 0.7rem;
        }
        &__logo{
        max-width: 100px;
        margin-left: 5rem;
        }
    }   

    .hero{
        display: flex;
        height: 500px;
        &__wrapper{
        justify-content: center;
        }
        &__heading{
        font-size: 2.2rem;
        }
        &__slogan{
        font-size: 1.2rem;
        }
    }

    .btn{
        display: block;
        margin: 2rem 5rem;
        padding: 0.5rem;  
        max-width: 10rem;  
    }
    
    .dest{
        @include flex-d;
        &card{
        margin-top: 1rem;
        }
        &card__img{
        width: 256px;
        height: 256px;
        }
        &card__titulo{
        text-align: center;
        }
    }

    .pie{
        @include flex-d;
        height: 500px;
        &__1{
        padding:1.5rem;
        }
    }

    .encabezado{
        height: 200px;
    }
    
    .info{
        &__titulo{
        font-size: $font2;
        }
        &__sub{
        font-size: $font3;
        width: 320px;
        }
        &__parrafo{
        font-size: $font3;
        text-align: justify;
        margin: 0rem 1rem;
        }
        &__video{
        width: 225px;
        height: 175px;
        }
    }

    .destinos{
        &__nac{
        @include flex-d;
        }
        &__int{
        @include flex-d;
        }
    }
    
    .paquetes{
        &__nac{
        @include flex-d;
        align-items: center;
        }
        &__cards{
        max-width: 250px;
        max-height: 400px;
        margin-top: 0rem;
        }
        &__img{
        margin: 0rem 0rem;
        }
        &__int{
        @include flex-d;
        align-items: center;
        }
        &__nombre{
            font-size: 1.2rem;
        }
        &__nombre1{
            font-size: 1rem;
            padding: 1rem;
        }
    }
    
    .fina{
        &__titulo{
        font-size: $font1;
        }
        &__sub{
        font-size: $font3;
        }
    }
    
    .opcion1{
        padding: 0.5rem;
        margin: 1rem 1rem;
        text-align: justify;
        &__titulo{
        margin: 1rem 0rem;
        text-align: center;
        font-size: $font3;
        }
    }
    
    .opcion2__img{
        max-width: 275px;
    }
    
    .opcion3{
        &__img{
            max-width: 7rem;
        }
    }
    
    .cont{
        @include flex-d;
        &__1{
        margin: 0rem 0rem;
        padding: 0rem;
        }
        &__1--titulo{
        font-size: $font1;
        margin: 2rem 2rem;
        color: $color-3;
        }
        &__2{
        padding: 2rem;
        margin-top: 0rem;
        margin-left: 0rem;
        }
        &__2--titulo{
        font-size: $font1;
        margin: 1rem 0rem;
        }
    }
    
    .form{
        &-inp{
        width: 200px;
        height: 20px;
        }
        &-inp1{
        width: 200px;
        height: 100px;
        }
        &-inp2{
        width: 200px;
        height: 20px;
        }
   }
    
    .conta{
        @include flex-d;
    }
    
    .cont__maps{
        width: 250px;
        height: 150px;
    }
}
